html
  head
    script(src='https://code.jquery.com/jquery-3.6.4.js' integrity='sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=' crossorigin='anonymous')
    script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js' integrity='sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=' crossorigin='anonymous')
    link(rel='stylesheet' href='https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css')
    script(src='/socket.io/socket.io.js')
    script(src="/javascripts/Utils/postRedirect.js") 
    script(src='/javascripts/Utils/verify.js')
    script(src='/javascripts/Utils/remove.js')
    script(src='/javascripts/Utils/PacketBuilder.js')
    script(src='/javascripts/MainPage/Builder/RuleBuilder.js')
    script(src='/javascripts/Dialog.js')
    script(src='/javascripts/MainPage/Dialogs/joinRoomDialog.js')
    script(src='/javascripts/MainPage/Dialogs/CreateRoomDialog.js')
    script(src='/javascripts/MainPage/Dialogs/SettingDialog.js')
    script(src="/javascripts/MainPage/Dialogs/IntroduceDialog.js") 
    script(src="/javascripts/MainPage/Dialogs/RuleIntroduceDialog.js") 
    script(src='/javascripts/Utils/AudioPlayer.js')
    script(src='/javascripts/MainPage/Events/SocketEvent.js')
    script(src='/javascripts/MainPage/Events/ErrorEvent.js')
    script(src='/javascripts/MainPage/Events/JoinRoomRespondEvent.js')
    script(src='/javascripts/MainPage/Events/JoinRoomRespondEvent.js')
    script(src='/javascripts/MainPage/Events/GetAllRoomRespondEvent.js')
    script(src='/javascripts/MainPage/Events/CreateRoomRespondEvent.js')
    script(src='/javascripts/MainPage/initEvents.js')
    script(src='/javascripts/MainPage/main.js')
    title UNO大廳
    style.
      /*文字*/
   
      /*按鈕*/
      .button-container {
       display: flex;
       flex-direction: column;
       align-items: center;
       position: relative; /* 相对定位 */
       top: 280px; /* 向下偏移50像素 */
       left: 51%; /* 水平居中 */
       transform: translateX(-50%); /* 水平居中 */
      }
      .RoomButton {
       background-color: #4CAF50;
       border: none;
       color: rgb(254, 255, 254);
       padding: 15px 40px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 100px;
       margin: 10px 0px;
       cursor: pointer;
       border-radius: 10px;
       box-shadow: 2px 2px 5px rgba(9, 177, 51, 0.3);
       transition: all 0.3s ease;
      }
      .RoomButton:hover {
       background-color: #3e8e41;
      }
      /*背景*/
      body {
      background-image: url('images/backgound.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      }
      label {
      border:1px solid #ccc;
      padding:10px;
      margin:0 0 10px;
      display:block; 
      }

      label:hover {
      background:#eee;
      cursor:pointer;
      }
      .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative; /* 相对定位 */
        top: 30%; /* 向下偏移50像素 */
        left: 50%; /* 水平居中 */
        transform: translateX(-50%); /* 水平居中 */
      }
      .RoomButton {
        border:0;
        background-color:#003C9D;
        color:#fff;
        border-radius:10px;
       padding: 15px 32px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 50px;
       margin: 10px 0px;
       cursor: pointer;
        }

      .RoomButton:hover {
       color:#003C9D;
       background-color:#ffffff;
       border:2px #003C9D solid;
        
      }
   
      body {
      background-image: url('images/1.gif');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      }

  body
  p(style,id='name') #{name}
    p(style='display:none' id='password') #{number}
    p(id='roomID')

    input(value='開始遊戲' type='button' id="gameStartButton" style='display:none')
    .button-container
     input(value='創建房間' type='button' id="createRoomButton" class="RoomButton" )
     br(class="RoomButton")
     input(value='加入房間' type='button' id='joinRoomButton' class="RoomButton")
     br(class="RoomButton")
     input(value='設定' type='button' id='settingButton' class="RoomButton")
     br(class="RoomButton")
     div(id='content')
