html
  head
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/verify.js')
    script(src='/javascripts/Builder/PacketBuilder.js')
    script(src='/javascripts/Builder/RuleBuilder.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/Dialogs/Dialog.js')
    script(src='/javascripts/Dialogs/joinGameDialog.js')
    script(src='/javascripts/Events/SocketEvent.js')
    script(src='/javascripts/Events/PlayerJoinEvent.js')
    script(src='/javascripts/Events/JoinGameEvent.js')
    script(src='/javascripts/Events/initEvents.js')
    script(src='https://code.jquery.com/jquery-3.6.4.js' integrity='sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=' crossorigin='anonymous')
    script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js' integrity='sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=' crossorigin='anonymous')
    link(rel='stylesheet' href='https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css')

  body
    p(style='display:none',id='password') #{number}
    
    input(value='開始遊戲',type='button',id="gameStartButton",style='display:none')
    div(id='users')
    input(value='創建房間',type='button',id="createRoomButton",class="RoomButton")
    br(class="RoomButton")
    input(value='加入房間',type='button',id='joinRoomButton',class="RoomButton")
    br(class="RoomButton")
    div(id='content') 

    
    

