html
  head
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/verify.js')
    script(src='/javascripts/PacketBuilder.js')
    script(src='/javascripts/main.js')
    script(src='https://code.jquery.com/jquery-3.6.4.js' integrity='sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=' crossorigin='anonymous')
  body
    p(style='display:none',id='password') #{number}
    input(value='hello',type='button',id="testbtn")
    

